<mat-toolbar style="display: flex; justify-content: space-between; padding-left: 10%; padding-right: 10%;">
  <span>My App</span>
  <div>
    <button mat-icon-button class="example-icon" aria-label="Clientes" [routerLink]="['/clientes']">
      <mat-icon>person</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Articulo" [routerLink]="['/articulos']">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Compras" [routerLink]="['/']">
      <mat-icon>widgets</mat-icon>
    </button>
  </div>
</mat-toolbar>

  <div style="padding: 5%;">
      <router-outlet></router-outlet>

  </div>
